Adafruit-Blinka==6.20.1
adafruit-circuitpython-busdevice==5.1.2
adafruit-circuitpython-motor==3.3.5
adafruit-circuitpython-pca9685==3.4.1
adafruit-circuitpython-register==1.9.8
adafruit-circuitpython-servokit==1.3.7
Adafruit-PlatformDetect==3.19.5
Adafruit-PureIO==1.1.9
cycler==0.11.0
flake8==4.0.1
fonttools==4.28.5
kiwisolver==1.3.2
matplotlib==3.5.1
mccabe==0.6.1
numpy==1.22.1
packaging==21.3
Pillow==9.0.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyftdi==0.53.3
pyparsing==3.0.6
pyserial==3.5
python-dateutil==2.8.2
pyusb==1.2.1
six==1.16.0
